
<% @products.each do |product| %>
----------------------------------------------------------------------------------------------------------------------<br/>
----------------------------------------------------------------------------------------------------------------------
<p>
  <strong>Location:</strong>
  <%= product.location %>
</p>
 
<p>
  <strong>Product:</strong>
  <%= product.product %>
</p>

<p>
  <strong>App ID/FRN No:</strong>
  <%= product.appid_frnno %>
</p>

<p>
  <strong>Aplicant Name:</strong>
  <%= product.applicant_name %>
</p>

<p>
  <strong>Loan Amount:</strong>
  <%= product.loan_amount %>
</p>

<P>
  <strong>Date of Birth/incorporation:</strong>
  <%= product.date_of_birth %>
</P>

<p>
   <strong>Resi Contact No:</strong>
   <%= product.resi_contact_no %>
</p>

<p>
  <strong>Name of the Company:</strong>
  <%= product.name_of_the_company %>
</p>

<p>
  <strong>Business Address:</strong>
  <%= product.business_address %>
</p>

<p>
  <strong>Busi Contact No:</strong>
  <%= product.busi_contact_no %>
</p>

<p>
  <strong>Co-Applicant Name:</strong>
  <%= product.co_applicant_name %>
</p>

<p>
  <strong>Co-Applicant Resi Address:</strong>
  <%= product.co_applicant_resi_address %>
</p>

<p>
  <strong>Co-Applicant Office Name:</strong>  
  <%= product.co_applicant_office_name %>
</p>

<p>
  <strong>Co-Applicant Office Address:</strong>  
  <%= product.co_applicant_office_address %>
</p>

<p>
  <strong>Co-Applicant Resi Contact No:</strong>  
  <%= product.co_applicant_resi_contact_no %>
</p>

<p>
  <strong>Co-Applicant Office Contact No:</strong>  
  <%= product.co_applicant_office_contact_no %>
</p>


<p>
  <strong>Property Address:</strong>  
  <%= product.property_address %>
</p>


<p>
  <strong>Reference 1 Name:</strong>  
  <%= product.reference1_name %>
</p>


<p>
  <strong>Reference 1 Address:</strong>  
  <%= product.reference1_address %>
</p>


<p>
  <strong>Reference 1 Phone No:</strong>
  <%= product.reference1_phone_no %>
</p>


<p>
  <strong>Reference 2 Name:</strong>  
  <%= product.reference2_name %>
</p>


<p>
  <strong>Reference 2 Address:</strong>  
  <%= product.reference2_address %>
</p>


<p>
  <strong>Reference 2 Phone No:</strong>  
  <%= product.reference2_phone_no %>
</p>


<p>
  <strong>Residence Verification Details:</strong>  
  <%= product.residence_verification_details %>
</p>


<p>
  <strong>Locality:</strong>  
  <%= product.locality %>
</p>


<p>
  <strong>Area of the premises:</strong>  
  <%= product.area_of_the_premises %>
</p>


<p>
  <strong>Person Met:</strong>  
  <%= product.person_met %>
</p>


<p>
  <strong>Relationship with applicant:</strong>  
  <%= product.relationship_with_applicant %>
</p>


<p>
  <strong>Stay confirmed by:</strong>  
  <%= product.stay_confirmed_by %>
</p>


<p>
  <strong>Ownership:</strong>  
  <%= product.ownership %>
</p>


<p>
  <strong>Neighbour Check Details:</strong>  
  <%= product.neighbour_check_details %>
</p>


<p>
  <strong>Remarks:</strong>  
  <%= product.remarks %>
</p>


<p>
  <strong>Salaried/Self Employed:</strong>  
  <%= product.salaries_self_employed %>
</p>


<p>
  <strong>Business Verification Details:</strong>  
  <%= product.business_verification_details %>
</p>


<p>
  <strong>Locality:</strong>  
  <%= product.locality %>
</p>


<p>
  <strong>Premise Ownership:</strong>  
  <%= product.premise_ownership %>
</p>


<p>
  <strong>Area of the business premises:</strong>  
  <%= product.area_of_the_business_premise %>
</p>


<p>
  <strong>Person met:</strong>  
  <%= product.person_met %>
</p>


<p>
  <strong>Designation:</strong>  
  <%= product.designation %>
</p>


<p>
  <strong>Nature of business:</strong>  
  <%= product.nature_of_business %>
</p>


<p>
  <strong>No of year business existing:</strong>  
  <%= product.no_of_year_business_existing %>
</p>


<p>
  <strong>Stock Level:</strong>  
  <%= product.stock_level %>
</p>


<p>
  <strong>Business activity:</strong>  
  <%= product.business_activity %>
</p>


<p>
  <strong>No of employees seen:</strong>  
  <%= product.no_of_employees_seen %>
</p>


<p>
  <strong>Neighbour Check Details:</strong>  
  <%= product.neighbour_check_details %>
</p>


<p>
  <strong>Remarks:</strong>  
  <%= product.remarks %>
</p>


<p>
  <strong>Co-Applicant Verifications:</strong>  
  <%= product.co_applicant_verification %>
</p>


<p>
  <strong>Residence:</strong>  
  <%= product.residence %>
</p>


<p>
  <strong>Business/Office:</strong>  
  <%= product.business_office %>
</p>


<p>
  <strong>Collateral Check Remarks:</strong>  
  <%= product.collateral_check_remarks %>
</p>


<p>
  <strong>Reference 1:</strong>  
  <%= product.reference1 %>
</p>


<p>
  <strong>Reference 2:</strong>  
  <%= product.reference2 %>
</p>


<p>
  <strong>Document Vverification remarks:</strong>  
  <%= product.document_verification_remarks %>
</p>


<p>
  <strong>RCU status:</strong>  
  <%= product.rcu_status %>
</p>


<p>
  <strong>Type of Rejection:</strong>  
  <%= product.type_of_rejection %>
</p>


<p>
  <strong>Reject Reason(If Negative or Fraud Negative):</strong>  
  <%= product.reject_reason %>
</p>


<p>
  <strong>Pickup Date:</strong>  
  <%= product.pickup_date %>
</p>


<p>
  <strong>Completion Date:</strong>  
  <%= product.completion_date %>
</p>


<p>
  <strong>TAT:</strong>  
  <%= product.tat %>
</p>


<p>
  <strong>RCU agency Name:</strong>  
  <%= product.rcu_agency_name %>
</p>


<p>
  <strong>Source:</strong>  
  <%= product.source %>
</p>


<p>
  <strong>Name of the Connector:</strong>  
  <%= product.name_of_the_connector %>
</p>


<p>
  <strong>RM Name:</strong>  
  <%= product.rm_name %>
</p>

<p>
  <strong>ITR Verifications@100:</strong>
  <%= product.itr_verifications100 %>
</p>

<p>
  <strong>Financial@500:</strong>
  <%= product.financial500 %>
</p>

<p>
  <strong>Payslip @50:</strong>
  <%= product.payslip_50 %>
</p>

<p>
  <strong>EC Extract@250:</strong>
  <%= product.ec_extract_250 %>
</p>

<p>
  <strong>RC copy check @50:</strong>
  <%= product.rc_copy_check_250 %>
</p>

<p>
  <strong>Site plan check @250:</strong>
  <%= product.site_plan_check_250 %>
</p>

<p>
  <strong>Bank Statement check @50:</strong>
  <%= product.bank_statement_check_50 %>
</p>

<p>
   <strong>KYC documents,adress proofs,loan tracks,all other documents @50:</strong>
   <%= product.kyc_documents_address_proofs_loan_tracks_50 %>
</p>

<p>
  <strong>Pan card check @10:</strong>
  <%= product.pan_card_check_10 %>
</p>

<p>
<strong>Telecalling expense @10:</strong>
<%= product.telecalling_expenses_10 %>
</p>

<p>
<strong>Total amt(Rs):</strong>
<%= product.total_amt %>
</p>
<% end %>